@import "./scss/mixins" @import "./scss/reset" @import "./scss/variable" @import
	url("https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almendra+Display&display=swap");

body {
	$backgroundImage: linear-gradient(
		225deg,
		#000000 0%,
		#cd890c 90%,
		#2b86c5 100%
	);
	font-family: "Rubik Distressed", cursive;
}

p {
	font-family: "Almendra Display", cursive;
	color: white;
}
